<%= simple_form_for (@user) do |f| %>
  <%= render 'users/notifications', f: f %>
  <div class="row" style="background-color: white; border: solid 2px #f65324;
    border-radius: 3px;">
    <div class="col-sm-4 col-xs-6 eql-height left-edit">
      <label for="picture-upload" id="picture-space">
        <p>Ajouter une photo</p>
        <p>pour votre profil</p>
        <i class="fas fa-camera-retro"></i>
        <img src="<%= @user.avatar? ? @user.avatar_url : "" %>" alt="" id="preview" class="avatar-lg">
      </label>
      <%= f.file_field :avatar, id:"picture-upload", class:'hidden' %>
    </div>
    <div class="col-sm-8 col-xs-6 eql-height">
      <div style="padding: 2%;">
      <div class="form-group">
        <%= f.label :prenom, label:'Prénom', class:"form-label", required: false %>
        <%= f.input :prenom, label:false, placeholder: "Prénom", class:"form-control", tabindex:"1" %>
      </div>
      <div class="form-group">
        <%= f.label :nom, label:'Nom', class:"form-label", required: false %>
        <%= f.input :nom, label:false, placeholder: "Nom", class:"form-control", tabindex:"2" %>
      </div>
      <div class="form-group">
        <%= f.label :telephone, label:'Téléphone', class:"form-label", required: false %>
        <%= f.input :telephone, label:false, placeholder: "Téléphone", class:"form-control", tabindex:"1" %>
      </div>
      <div class="text-center">
        <%= f.button :submit, "Modifier", class:"btn btn-start-order" %>
      </div>
      <div class="text-center">
        <%= link_to "Mot de passe et compte", edit_user_registration_path, class:"btn-no-border" %>
        <button type="button" class="btn btn-no-border" data-toggle="modal" data-target="#notificationModal" style="margin: 0;">
          Gérer mes notification
        </button>
      </div>
      </div>
      <h4>Mes activités favorites</h4>
      <div class="horizontale-scrolling">
        <% @user_activities.each do |user_activity| %>
          <div class="activity-card " style="height: 151.25px;">
            <%= render 'activities/show', user: @user, activity: user_activity %>
          </div>
        <% end %>
      </div>
      <div class="text-center">
        <%= link_to 'Ajouter des activités', user_activities_path(@user), class:"btn btn-start-order" %>
      </div>

    </div>
  </div>
<% end %>
