<div class="navbar-wagon">
  <!-- Logo -->
  <% if @user.nil? && current_user.present? %>
    <% @user = current_user %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to company_path(@user.company), class: "navbar-wagon-brand" do %>
      <%= image_tag "logo.png", height: 50 %>
    <% end %>
  <% else %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div id="navbar-list-btn" class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to company_path(@user.company), class: "navbar-wagon-item navbar-wagon-link
        #{ 'navbar-active' if params[:controller] == "companies" && params[:action] == "show" }
      " do %>
        <i class="fas fa-home"></i>Accueil
      <% end %>
      <%= link_to user_evenements_path(@user.id), class: "navbar-wagon-item navbar-wagon-link
        #{ 'navbar-active' if params[:controller] == "evenements" && params[:action] == "index" } " do%>
      <i class="far fa-calendar-alt"></i>Mes événements
      <% end %>

      <%= link_to historique_user_evenements_path(@user.id), class: "navbar-wagon-item navbar-wagon-link #{ 'navbar-active' if params[:controller] == "evenements" && params[:action] == "historique" }" do %>
      <i class="fas fa-history"></i>Mon Historique
      <% end %>
      <% if current_user.admin || current_user.rh %>
        <%= link_to edit_company_path(@user.company.id), class: "navbar-wagon-item navbar-wagon-link " do%>
          <i class="fas fa-tachometer-alt"></i>Dashboard
        <% end %>
      <% end %>
      <% if current_user.admin %>
        <%= link_to admin_company_path(@user.company.id), class: "navbar-wagon-item navbar-wagon-link #{ 'navbar-active' if params[:action] == "index" }" do %>
        <i class="fa fa-cog"></i>Admin
        <% end %>
      <% end %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if @user.avatar.present? %>
            <%= cl_image_tag @user.avatar, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <div class="avatar avatar-init dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown", style='padding-top:19%;'>
              <p><%= @user.his_avatar %></p>
            </div>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to edit_user_path(@user.id) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown" style="color: white;"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li>
            <%= link_to edit_user_path(@user.id) do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to company_path(@user.company) do %>
              <i class="fas fa-home"></i>Accueil
            <% end %>
          </li>
          <li>
            <%= link_to user_evenements_path(@user.id) do%>
              <i class="far fa-calendar-alt"></i>Mes événements
            <% end %>
          </li>
          <li>
            <%= link_to historique_user_evenements_path(@user.id) do %>
              <i class="fas fa-history"></i>Mon Historique
            <% end %>
          </li>
          <% if current_user.admin %>
            <li>
              <%= link_to admin_company_path(@user.company.id) do %>
                <i class="fa fa-cog"></i>Admin
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

