<div class="header">
  <h4>Événement à venir</h4>

</div>
<div class="tbl-header" data-url="<%= update_boosted_evenement_path %>" data-user="<%= @user.id %>">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>lien</th>
        <th>Activité</th>
        <th>Type</th>
        <th>Participants</th>
        <th>Status</th>
        <th>Date</th>
        <th>Booster</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody>
      <% @evenements.each do |evenement| %>
        <tr>
          <td>
            <%= link_to evenement_path(evenement[:evenement_id]) do %>
              <i class="fas fa-search"></i>
            <% end %>
          </td>
          <td><%= evenement[:activity] %></td>
          <td><%= evenement[:type_of_evenement] %></td>
          <td><%= evenement[:nombre_participant] %></td>
          <td><%= evenement[:status] %></td>
          <td><%= evenement[:date] %></td>
          <td class="btn-no-border tr-evenement" data-evenement="<%= evenement[:evenement_id] %>" data-boosted="<%= evenement[:boosted] ? "false" : "true" %>">
            <%= evenement[:boosted] ? "Retrier" : "Booster" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
