
<div class="form-flex-column" id="tab-stat" style="height: calc(100vh - 95px);display: flex; flex-direction: row;">
 <div class="background-white" id="left-side-dashboard">
    <div class="top">
      <div class="company-info">
        <h3><strong><%= @company.nom %></strong></h3>

      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item active">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Événement à venir</a>
        </li>
      </ul>
    </div>
    <div class="down">
      <h3>Recherche</h3>
      <%= form_tag charts_switchPeriod_path, method: :get, remote: false do %>
        <%= select_tag :periode, options_for_select(@perdiode, params[:activity_title]), class:"form-control", id:"typeOfPeriode" %>

        <%= text_field_tag :presonnalize_date, nil, label: false, class:"datepicker form-control hidden", tabindex:"1"%>
      <% end %>

      <div class="btn-start-order btn" id="sendPeriod">
        <p>Afficher</p>
      </div>
    </div>
  </div>


  <div class="tab-content background-white" id="myTabContent">
    <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" style="overflow-y: hidden; overflow-x: hidden; height: 100%;">
      <div id="stat-grid">
        <div class="utilisteurs-actifs">
          <h4>Utilisteurs Actifs</h4>
          <div id="chart-1" data-url="<%= charts_visitors_by_days_path %>" style="height: 100%;"></div>
        </div>
        <div class="evenement-coming" id="container">
        </div>
        <div class="activities-partiques one-number">
          <p><strong><%= @evenements_this_week %></strong> événements sont organisés cette semaine</p>
        </div>
        <div class="liciences one-number">
          <p><strong><%= @company.users.count %></strong> licences utilisées sur <%= @company.licence %> disponibles</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <%= render 'companies/evenements' %>
    </div>
  </div>


</div>






<style>

@import 'https://code.highcharts.com/css/highcharts.css';

</style>



<%= content_for(:after_js) do %>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/series-label.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>
<script>


  Highcharts.chart('container', {

    chart: {
      styledMode: true
    },

    title: {
      text: 'Activités pratiquées'
    },

    xAxis: {
      categories: ['pe', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },

    series: [{
      name: 'score',
      type: 'pie',
      allowPointSelect: true,
      keys: ['name', 'y', 'selected', 'sliced'],
      data: [
        <% @stat_activity.first(10).each do |activity| %>
        ['<%= activity[:label] %>', <%= activity[:value] %>, false],
        <% end %>

      ],
      showInLegend: true
    }]
  });
</script>
 <%= javascript_pack_tag "statistiques" %>

<% end %>



