
<div class="row">
  <div class="col-sm-offset-3 col-sm-6">
    <h2>Se connecter</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div class="form-group">
          <%= f.label :email, label:'Email', class:"form-label", required: true %>
          <%= f.input :email, label:false, placeholder: "Email pro", class:"form-control",          required: true,
                    autofocus: true ,
                    input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-group">
          <%= f.label :password, label:'Mot de passe', class:"form-label", required: true %>
          <%= f.input :password, label:false, placeholder: "Mot de passe", class:"form-control",required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        </div>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "Se connecter", class:"btn btn-start-order" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
