<div class="modal" id="listParticipantModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div id="participants" class="padding-blocks">
    <h3 class="title-onglet">Participants</h3>
    <div class="modal-content">
      <a class="close cross abs-right-top" data-dismiss="modal" id="close" aria-label="Close">+</a>

      <div class="background-white" id="gridParticipantModal">


        <div class="left-modal-participants">
          <div class="tabLevel btn-no-border" data-target="all">
            <h3 class="hidden-xs">Tout les participants (<%= @users.count %>)</p>
            <h3 class="visible-xs">Tous</h3>
          </div>
          <% @stars.each_with_index do |nombre, index| %>
            <% if nombre.present? %>
              <div class="tabLevel btn-no-border" data-target="<%= index + 1 %>">
                <h3 class="hidden-xs"><%= index + 1 %> étoiles (<%= nombre %>)</h3>
                <h3 class="visible-xs"><%= index + 1 %></h3>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="title-middle">
          <h4>Vos collègues</h4>
        </div>

        <div class="middle-modal-participants">
            <% @users.each do |user| %>
              <div class="userToAdd tab_<%= user[:level] %> " data-user="<%= user[:user_id] %>" id="user_removed_<%= user[:user_id] %>" style="display: flex;">
                <% set_user = User.find(user[:user_id]) %>
                <%= render 'shared/avatar_name_stars', user: set_user, level: user[:level]  %>
                <div class="icon-input">
                  <i class="fas fa-check"></i>
                </div>
              </div>
            <% end %>
        </div>
        <div class="title-right">
          <h4>Futurs participants</h4>
        </div>

        <div class="right-modal-participants">
          <% @users.each do |user| %>
            <div class="userToRemove hidden" id="user_added_<%= user[:user_id] %>" style="display: flex;" data-user="<%= user[:user_id] %>">
              <% set_user = User.find(user[:user_id]) %>
              <%= render 'shared/avatar_name_stars', user: set_user, level: user[:level]  %>
              <div class="icon-input">
                <i class="fas fa-check"></i>
              </div>
            </div>
          <% end %>
        </div>
        <div class="hidden">
          <%= text_field_tag :participants, nil, label: false, id:"participantsToCreate", value:"#{@participants.join(', ')}" %>
        </div>
      </div>
    </div>
  </div>
</div>



