<div id="formulaire" class="background-white">
  <div id="info">
    <div class="form-group">
      <%= f.label :user_activity, label:'Activité', class:"form-label", required: false %>
      <%= f.object.user_activity.activity.title %>
    </div>

    <!-- <div class="text-center" style="display: flex; justify-content: space-around;"> -->
      <div class="form-group">
        <%= f.label :type_of_evenement, label:"Type d'évenement", class:"form-label", required: false %>
        <%= f.input :type_of_evenement, label: false, placeholder: 'Quel est le type de evenement?', collection: Evenement.type_of_evenements.map { |key, value| [key.humanize, key] } , class:"form-control" %>
      </div>
      <!-- <button type="button" class="btn btn-start-order" style="padding: 0; border: 0;     width: 20%;" data-toggle="modal" data-target="#newevenementModal">
        <i class="far fa-edit"></i>
      </button> -->
    <!-- </div> -->




  </div>
  <div id="uprigth-grid" class="space-arround">
    <div class="form-group">
      <%= f.label :nombre_min, label:'Nombre minimun', class:"form-label", required: false %>
      <div class="input-stepper">
        <p class="minus"><i class="fa fa-minus"></i></p>
        <%= f.input :nombre_min, label:false, class:"form-control", tabindex:"1", input_html: {type: :text}, input_html: {value: f.object.nombre_min || 0 }, label: false, wrapper: false, placeholder: "2" %>
        <p class="plus"><i class="fa fa-plus"></i></p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :nombre_max, label:'Nombre maximun', class:"form-label", required: false %>
      <div class="input-stepper">
        <p class="minus"><i class="fa fa-minus"></i></p>
        <%= f.input :nombre_max, label:false, class:"form-control", tabindex:"1", input_html: {type: :text} , label: false, wrapper: false , placeholder: "12"%>
        <p class="plus"><i class="fa fa-plus"></i></p>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :prix, label:'Prix', class:"form-label", required: false %>
      <%= f.input :prix, as: :integer, label: false, class:"form-control", tabindex:"1", input_html: { style:"width:100px", oninput:"this.value = Math.abs(this.value) " }, placeholder: "en €"%>
    </div>
  </div>
  <div id="dates">
    <div class="space-arround">
      <div class="form-group">
        <%= f.label :jour, label:'Date', class:"form-label", required: false %>
        <%= f.input :jour, as: :string, label: false, class:"form-control", tabindex:"1", input_html: { class:"onlydatepicker" }%>
      </div>


      <div class="form-group">
        <%= f.label :heur, label:'Heure', class:"form-label", required: false %>
        <%= f.input :heur, as: :string, label: false, class:"form-control", tabindex:"1", input_html: { class:"onlyhourpicker"}%>
      </div>
    </div>
    <div class="space-arround" id="secondDate">
      <div id="toHidden" class="" style="text-align: center;">
        <p>Voulez vous réjouter une date optionnel pour cet événement?</p>
        <p class="btn-no-border" id='hiddenBtn' style="padding: 0; margin: 0;">Ajouter</p>
      </div>
      <div class="form-group hidden">
        <%= label_tag :Date, nil, label:'Date', class:"form-label", required: false %>
        <%= text_field_tag :second_date, nil, label: false, class:"onlydatepicker form-control", tabindex:"1"%>
      </div>

      <div class="form-group hidden">
        <%= label_tag :heur, nil, label:'Heure', class:"form-label", required: false %>
        <%= text_field_tag :second_heur, nil, class:"onlyhourpicker form-control", tabindex:"1"%>
      </div>
    </div>
  </div>
</div>
