<div id="informations-grid" class="background-white ">
  <div class="form-group">
    <p class="form-label">Activité</p>
    <div class="space-arround">
      <%= image_tag evenement.user_activity.activity.icon? ? evenement.user_activity.activity.icon : @no_icon  %>
      <p><%= evenement.user_activity.activity.title %></p>
    </div>
  </div>

  <div class="form-group">
    <p class="form-label">Organisateur</p>
    <div class="space-arround">
      <p><%= evenement.user.full_name %></p>
    </div>
  </div>

  <div class="form-group">
    <p class="form-label">Date</p>
    <div class="space-arround">
      <i class="far fa-calendar-alt"></i>
      <p><%= evenement.date_day %></p>
    </div>
  </div>

  <div class="form-group">
    <p class="form-label">Horaire</p>
    <div class="space-arround">
      <i class="far fa-clock"></i>
      <p><%= evenement.date_hour %></p>
    </div>
  </div>

  <div class="form-group">
    <p class="form-label">Type d'évenement</p>
    <div class="space-arround">
      <%= evenement.Publique? ? "<i class='fas fa-globe-americas'></i>".html_safe : '<i class="far fa-envelope"></i>'.html_safe %>
      <p><%= evenement.type_of_evenement %></p>
    </div>
  </div>

  <div>
    <p class="form-label">Participants:</p>
    <div class="space-arround">
      <i class="fas fa-users"></i>
      <div class="form-group">
        <p>Min: <%= evenement.nombre_min %></p>
      </div>

      <div class="form-group">
        <p>Max: <%= evenement.nombre_max.present? ? evenement.nombre_max : "<i class='fas fa-times'></i>".html_safe %></p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <p class="form-label">Téléphone</p>
    <div class="space-arround">
      <i class="fas fa-phone"></i>
      <p><%= evenement.user.telephone.present? ? evenement.user.telephone : "pas renseignée"  %></p>
    </div>
  </div>

  <div class="form-group">
    <p class="form-label">Prix</p>
    <p><%= evenement.prix %> €</p>
  </div>
</div>
