<div id="edit-evenement" style="display: table; width: 100%;">
  <!-- <#%= render 'evenements/new', user: @user, evenement: @evenement %> -->

  <%= simple_form_for (@evenement) do |f| %>
  <%= render 'evenements/add-participants', user: @user, evenement: @evenement, f: f %>
    <div id="container-grid">
      <div class="informations">
        <div class="title">
          <h3 class="title-onglet">Informations</h3>
        </div>
        <%= render 'evenements/formulaire', user: @user, f: f %>
      </div>
      <div class="besoins">
        <div class="title">
          <h3 class="title-onglet">Besoins</h3>
        </div>
        <%= render 'evenements/materiel', user: @user, f: f %>
      </div>
      <div class="localisation">
        <div class="title">
          <h3 class="title-onglet">Lieu</h3>
        </div>
        <%= render 'evenements/adresse', user: @user, f: f %>
      </div>

      <div class="participant-grid">
        <div class="title">
          <h3 class="title-onglet">Participants</h3>
        </div>
        <%= render 'evenements/participants', user: @user, f: f %>
      </div>
      <div class="text-center btn-save">
        <% if @evenement.point_group.evenements.count > 1 %>
          <%= link_to 'Mes événement', mes_evenements_evenement_path( @evenement ), class:"btn-no-border" %>
        <% end %>
        <%= f.submit 'Enregistrer', class:"btn btn-start-order" %>
      </div>
    </div>

  <% end %>

</div>


<%= content_for(:after_js) do %>

 <%= javascript_pack_tag "participations" %>

 <%= javascript_pack_tag "map" %>
<% end %>






